@model PetrolriosFraudeDetection.Models.Entities.Estacion

@{
    ViewData["Title"] = "Eliminar Estación";
}

<h1>Eliminar Estación</h1>

<h3>¿Está seguro de que desea eliminar esta estación?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        
        <dt class="col-sm-2">Ubicación:</dt>
        <dd class="col-sm-10">@Model.Ubicacion</dd>
        
        <dt class="col-sm-2">Código:</dt>
        <dd class="col-sm-10">@Model.Codigo</dd>
        
        <dt class="col-sm-2">Estado:</dt>
        <dd class="col-sm-10">@(Model.Activo ? "Activo" : "Inactivo")</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>